* {
    box-sizing: border-box ;
    
}

body {
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    color: seashell;
    opacity: 0.9;
    margin-top: 69px;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    z-index: 1;
}

ul { 
    display: flex;
    text-decoration: underline;
    list-style: none;
    gap: 30px;
    margin-right: 20px;
}

#logo {
    height: 50px;
    margin-left: 20px;
}

/* hero */

#hero {
    height: 700px;
    width: 1200px;
    margin: auto;
    background-image: url(./img/img-mission-background.jpg);
    text-align: center;
}

#hero-text {
    background-color: black;
    position: relative;
    top: 42%;
}

.mission-one {
    padding-top: 10px;
}

.mission-two {
    padding-bottom: 10px ;
}

/* Tea of the Month */


#whats-steeping {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}

#tea-text {
    text-align: center;
}

#menu-items {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

#menu-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 30px;
}

.menu {
    height: 200px;
    width: 300px;
}

.caption {
  width: 300px;
  text-align: center;  
}

.caption h4 {
    margin: 10px;
}

/* Locations */

#locations {
    height: 500px;
    width: 1200px;
    margin: 15px auto;
    margin-top: 50px;
    background-image: url(./img/img-locations-background.jpg);
    text-align: center;
}

#locations-head {
    margin-bottom: 15px;
}

#addresses {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

}

#locations-div {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8%
}

.content {
    background-color: black;
    width: 300px;
    text-align: center;
    line-height: 50px;
    align-self: center;
    opacity: 1;
}

/* Contact Info */


